@model Professional_Website.Models.ContactInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPhoneApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPhoneApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWebApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWebApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWindowsApp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWindowsApp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfRequest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactInfoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
